.about-container {
  margin-bottom: -10px;
}

.textp {
  margin-top: -10em;
  font-size: 2em;
}

.paragraphp {
  margin-top: 10em;
  padding: 20px 150px;
}

.skills-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.skills-container-about {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.textpp {
  font-weight: 800;
}

.skills {
  display: inline-block;
  background-color: #f9cf71;
  margin: 16px;
  padding: 8px 20px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
}

.skills-container-about p.textpp {
  margin-bottom: 10px;
}

.text-and-image-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.aboutimg {
  max-width: 25%;
  margin-left: 2em;
  border-radius: 10px;
  animation: floatAnimation 3s ease infinite alternate;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon {
  font-size: 4em;
  margin: 15px;
  color: #867ba3;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footerabout {
  margin-top: 50px;
}
