.styles {
    display: flex;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 200px;
    align-items: center;

    
    .body {
        display: flex;
        max-width: 1400px;
        gap:70px;
            position: relative;

            p{
                margin: 0px;
                


                &:nth-child(1) {
                   
                    gap: 18px;
                    font-size: 27px;
                    line-height: 1.3;
                    font-weight: 400;


                    span {
                        margin-right: 6px;
                    }
                    .mask {
                        position: relative;
                        display: inline-flex;
                        overflow: hidden;
                    }
                }
            &:nth-child(2) {
                font-size: 20px;
                width: 100%;
            }
            }
        }
            .descbutton  p{
                top:90%;
                left: calc(100% - 200px);
                width: 180px;
                height: 180px;
                background-color: #1C1D20;
                border-radius: 50%;
                display: flex;
                position: absolute;
                align-items: center;
                justify-content: center;
                color: white;

                cursor: pointer;

                .descabout p{
                    margin: 0px;
                    font-size: 20px;
                    font-weight: 300;
                    position: relative;
                    z-index: 1;


                }}}
    