.gallery {
    height: 175vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    padding: 2vw;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 1%;

    .column {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
                gap:1vw;
min-width: 250px;
position: relative;

        .imagegallery  {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 1vw;
            overflow: hidden;
            img{
width: 100%;
height: 120%;
object-fit: cover;
            }
        }
    &:nth-child(1){
        top:-45%;
    }
     &:nth-child(2){
        top:-95%;
    }
     &:nth-child(3){
        top:-45%;
    }
     &:nth-child(4){
        top:-75%;
    }
}
    }

    @media only screen and (max-width: 768px) {
    .maingallery {
        display: none;
    }
    }