  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

 .mainimg img {
    object-fit: contain;
    width: 35%;
    margin-left: 35%;
    margin-top: 10%;
 }
    .mainimg:hover {
      content: url("../images/color.jpg");
      cursor: pointer;
    
  }

.sliderContainer {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
      top: calc(30vh - 300px);
          font-family: "Roboto Mono", monospace;
          font-weight: 500;



}

.slider {
  position: relative;
  display: flex;
  white-space: nowrap;
  
}
  .maintext  {
margin: 0;      
                    color: black;
    font-size: 140px;

  }



// Mobile
@media only screen and (max-width: 768px) {
  img {
    width: 80%;
    margin-left: 10%;
    margin-top: 25%;
  }

  .sliderContainer {
    top: calc(15vh - 120px);
  }

  .slider {
    p {
      font-size: 90px;
    }

    p:nth-of-type(2) {
      left: 182%;
    }
  }
}

// Tablet
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  img {
    width: 60%;
    margin-left: 20%;
    margin-top: 7%;
  }

  .sliderContainer {
    top: calc(25vh - 240px);
  }

  .slider {
    p {
      font-size: 180px;
    }

    p:nth-of-type(2) {
      left: 10%;
    }
  }
}

// Desktop
@media only screen and (min-width: 1025px) {
  img {
    width: 35%;
    margin-left: 35%;
    margin-top: 10%;
  }}