  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

 .mainimg  {
    object-fit: contain;
    width: 35%;
    margin-left: 35%;
    border-radius:100px;
    margin-top: 10%;
 }
    .mainimg:hover {
      content: url("../images/color.jpg");
    
  }

.sliderContainer {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
      top: calc(30vh - 300px);
          font-family: "Roboto Mono", monospace;
          font-weight: 500;



}

.slider {
  position: relative;
  display: flex;
  white-space: nowrap;
  
}
  .maintext  {
margin: 0;      
color: black;
font-size: 140px;

  }


  //responsive
@media only screen and (max-width: 768px) {
  .mainimg {
    width: 80%;
    margin-left: 10%;
    margin-top: 40%;
  }

  .sliderContainer {
    top: calc(15vh - 120px);
  }

  .slider .maintext {
    font-size: 90px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .mainimg {
    width: 60%;
    margin-left: 20%;
    margin-top: 7%;
  }

  .sliderContainer {
    top: calc(25vh - 240px);
  }

  .slider .maintext {
    font-size: 180px;
  }
}

@media only screen and (min-width: 1025px) {
  .mainimg {
    width: 35%;
    margin-left: 35%;
    margin-top: 10%;
  }
}
