#portfolio {
  margin: 55px;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: none;
  justify-content: center;
  position: relative;
  height: 150%;
  overflow: hidden;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  position: relative;
  cursor: none;
}

.project {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 50px 100px 50px 100px;
  justify-content: space-between;
  border-top: 1px solid rgb(201, 201, 201);
  transition: all 0.2s linear;
  cursor: none;
}

h3 {
  font-size: 40px;
  font-weight: 400;
  margin: 0;
  transition: all 0.2s linear;
  cursor: none;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
  transition: all 0.2s linear;
  cursor: none;
}

p {
  font-size: 1.3em;
  cursor: none;
}

.project:hover h3 {
  transform: translateX(-10px);
  opacity: 0.4;
}

.project:hover h4 {
  transform: translateX(10px);
  opacity: 0.4;
}

.project {
  position: relative;
}

.projectimg {
  display: flex;
  border-radius: 20px;
  width: 245%;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 350px;
  z-index: 2;
}

.projectimg:hover {
  display: block;
}

.morepr {
  margin-top: 30px;
  display: flex;
  padding: 20px 50px;
  border: none;
  background-color: #1C1D20;
  border-radius: 50px;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.morepr:hover {
  background-color: #867ba3;
  color: white;
  border: none;
}

.alink {
  color: black;
  padding: 10px 10px;
  border-radius: 50px;
  font-weight: bold;
}

.alink:hover {
  color: #867ba3;
}

.pr {
  display: flex;
  align-self: center;
}

.titleproject {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1em;
}

.footercontact {
  position: relative;
}
.footercontact .footerbg {
  justify-content: space-between;
  padding: 25px;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  font-family: "Titillium Web", sans-serif;
  background-color: #867ba3;
  font-weight: 600;
  color: #f2f0e7;
  position: relative;
  overflow-x: hidden;
}

.infofooter span {
  font-size: 1em;
  gap: 10px;
  color: #000000;
}

.infofooter p {
  font-size: 0.75em;
}

.socialsmenufooter a {
  color: black;
  outline: none;
  font-weight: 400;
  font-size: 1em;
  margin-left: -15em;
  cursor: none;
  text-decoration: none;
}

.socialsmenufooter a:hover {
  border-bottom: 1px solid #000000;
}

.socialsfooter h3 {
  display: flex;
}