#portfolio {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;


}
.portfolio__container {
display: flex;
flex-direction: column;
align-items: center;
width: 1000px;

}

.project {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 50px 100px 50px 100px;
    justify-content: space-between;
    border-top: 1px solid rgb(201,201,201);
    cursor: pointer;
    transition: all 0.2s linear;
}
h3 {
    font-size: 40px;
    font-weight: 400;
    margin: 0;
        transition: all 0.2s linear;


}
h4 {
    font-size: 1.5em;
    font-weight: 400;
        transition: all 0.2s linear;

}
  p {
    font-size: 1.3em;
    cursor: pointer;
}



.project:hover h3{
    transform: translateX(-10px);
     opacity: 0.4;
}

.project:hover h4{
    transform: translateX(10px);
     opacity: 0.4;
}


.project {
    position: relative; 
}

.project img {
    display: none;
    border-radius: 20px;
    background-color: beige;
    width: 25%; 
    position: absolute; 
    top: -12%; 
    left: 20%; 
    transform: translate(-50%, -50%); 
    max-width: 400px; 
    max-height: 350px; 
    z-index: 2; 
}




.project:hover img {
    display: block; 
}

.morepr {
   margin-top: 30px;
    display: flex;
    padding: 20px 50px;
    border: none;
    background-color: #1C1D20;
    border-radius: 50px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
.morepr:hover {
  background-color: #867ba3;
    color: white;
    border: none;
}

.alink  {
    color: black;
    padding: 10px 10px;
    border-radius: 50px;
    font-weight: bold;
}

.alink:hover {
    color: #867ba3;
}
.projectpages  {
    color: white;
    text-decoration: none;
}