* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #ffffff;
}



.slide-in {
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transform-origin:bottom ;
}

.slide-out {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: #4e42ff;
    transform-origin:top ;
}